*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    
}
.body{
    background-color: #2e1700;
}
#logo img{
    border-radius: 50%;
    margin-bottom: 15px;
}
#logo{
    font-size: 25px;

}
.navbar{
    background-color: #573818;
    padding-left: 5px;

}
.icons, #abc{
    display: flex;
    padding: 7px;
    cursor: pointer;
    transition: 0.8 ease;
}
.icons, #abc:hover{
   transform: translateY(-5px);
}
.navbar-nav{
    margin-left: 300px;
}
.nav-item{
    font-size: 15px;
}
.nav-item:hover{
    background-color: #72481f;
}

/*home section*/
.home{
  background-image: url(/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 120vh;

}
.heading{
    color: white;
    font-weight: bold;
   text-align: center;
   margin-left: 50%;
    font-size: 60px;
  padding-top: 10%;
}
.content .category{
    color: white;
    margin-left: 60%;
    margin-top: 5%;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
.changecontent::after{
    content: ' ';
    color: rgba(161,109,14,1);
    animation: changetext 10s infinite linear;
    font-weight: bold;
}
@keyframes changetext {
    0%{content: "Cakes";}
    20%{content: "Pastries";}
    50%{content: "Sweets";}
    60%{content: "Donuts";}
    80%{content: "cupCake";}
    100%{content: "Kulfi";}
}
.para{
    margin-top: 5%;
    margin-left: 50%;
    text-align: center;
    color: white;
}
.Order-btn{
    display: inline-block;
    font-size: 20px;
    color: white;
    margin-left: 70%;
    margin-top: 5%;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10%;
    transition: 0.2s ease;
}
.Order-btn:hover{
    transform: scale(1.1);
    background-color: white;
    color: #72481f;
}

/*cardss*/
#box{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
#box .card{
    box-shadow: 0px, 0px, 0px, black;
    margin-top: 10px;
    transition: 0.2 ease;
}
#box .card:hover{
    cursor: pointer;
    transform: translateY(-10px);
}

/*banner*/
.banner{
    margin-top: 3%;
   width: 100%;
   height: 68vh;
   display: flex;
   background-image: url(/bg2.png);
   background-size: cover;
   align-items: center;
   padding-top: 10px;
  padding-left: 10%;
   flex-wrap: wrap;
   box-shadow: 0px 0px 10px black;
   color: black;
   
}
.banner img{
    padding-left: 30%;
}
.orderbutton{
    color: black;
    margin-left: 30%;
    padding: 20px 20px;
    font-weight: 550;
    border-radius: 20%;
    transition: 0.2 ease;
}
.orderbutton:hover{
    text-decoration: none;
    font-weight: bold;
    
}
.cake-text, .off{
   font-size: 50px;
}

/*cards*/
.cake{
    margin-top: 5%;
    text-align: center;
    color: #c97827;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #c97827;
    padding-bottom: 20px;
}
.cards{
    margin-top: 10%;
}
#product-cards .card{
    background-color: #b96e23bd;    
}
.cart{
    margin-left: 25%;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #72481f;
    border: 1px solid black;
    font-weight: bold;
    transition: 0.8 ease;
}
.cart:hover{
    transform: scale(1.1);
    background-color: white;
    color: #a55e1b; 
    border: 1px solid white;
}
.cards img{
    height: 50%;
    object-fit: cover;
}
.viewMore{
    margin-top: 40px;
    margin-left: 45%;
    margin-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 15px;
   padding-bottom: 7px;
   font-size: 30px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid white;
    color: #a55e1b;
    font-weight: bold;
    transition: 0.5s ease;
}
.viewMore:hover{
transform: scale(1.1);
background-color: #b96e23;
color: black;
font-weight: bold;
border: 1px solid #b96e23bd;
}

/*gallery*/
.gallery-text{
    margin-top: 20px;
    text-align: center;
    color: #c97827;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #c97827;
    padding-bottom: 10px;
    margin-bottom: 70px;
}
#gallery .card{
    overflow: hidden;
    margin-top: 10px;
    transition: all 0.8s ease-in-out;
}
#gallery .overlay-text{
    position: absolute;
    font-size: 30px;
    left: 40%;
    top: 0%;
    opacity: 0;
    text-align: center; 
    text-shadow: 1px 1px 1px black;
}
#gallery .card:hover{
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(-5px);
    cursor: pointer;
}
#gallery .card:hover .overlay-text{
    color: white;
    cursor: pointer;
    transition: 0.5 ease;
    opacity: 5;
    top: 45%;
    font-weight: 500;
}
/* about us */
.About-text{
    color: #c97827;
    font-size: 45px;
    text-align: center;
    border-bottom: 2px solid #c97827;
    margin-right: 5%;
    margin-bottom: 5%;
}
#about-us .container{
    margin-top: 80px;
 display: flex;
}
.para-content{
    color: #ff9a35a1;
   padding-right: 5%;
   font-size: 17.5px;
}
.social-icons{
    padding-left: 5%;
    display: flex;
     gap: 3%;
}
.social-icons a{
    font-size: 22px;
    text-decoration: none;
    color: #c97827;
}
.social-icons a:hover {
    color: wheat; /* Change color on hover*/
}
/*contact us */
.contact-content{
    display: flex;
}
.contact .contact-text{
    color: #c97827;
    font-size: 45px;
    text-align: center;
    margin-top: 5%;
    border-bottom: 2px solid #c97827;
}
form{
    margin-top: 3%;
    margin-bottom: 8%;
}
.form-control{
    background-color: #a55e1b !important; /* Tumhara desired background color */
    color:  black !important; /* Text color white */
    border: 1px solid #8b5a2b !important; /* Border color */
}
.form-control::placeholder {
    color: whitesmoke !important; /* Placeholder text halka white */
}
.submit-btn {
    margin-left: 35%;
    background-color: white; /* Button background */
    color: #c97827; /* Button text color */
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.6s ease;
}

.submit-btn:hover {
    transform: scale(1.1);
    background-color: #a55e1b; /* Hover effect */
    color: white;
}
.location{
    color: #ff9a35a1;
    margin-left: 25%;
    margin-top: 15%;
    font-size: 25px;
}
.location .social-icons{
    display: flex;
    gap: 10%;
    font-size: 22px;
    margin-left: 20%;
}
/*footer*/
.footer{
    background-color: #573818;
}
.text-footer{
    color: whitesmoke;
}
